<nav aria-label="breadcrumb" class="m-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1 {% if page.url == '/' %}active{% endif %}">
            <a {% if page.url != '/' %}href="/"{% endif %}>Home
            </a>
        </li>
        {% if page.url contains '/blog/' %}
            <li class="breadcrumb-item p-1 {% if page.url == '/blog/' %}active{% endif %}">
                {% if page.url contains '/blog/' %}
                    Blog
                {% endif %}
            </li>
        {% endif %}
        {% if page.url contains '/case_studies/' %}
            <li class="breadcrumb-item p-1 {% if page.url == '/case_studies/' %}active{% endif %}">
                {% if page.url contains '/case_studies/' %}
                    Case Studies
                {% endif %}
            </li>
        {% endif %}
    </ol>
</nav>